# SSL/TL
*.key
*.crt
*.csr
*.srl
*.pem

# Ignore all files in certs/ except generate-certs.sh
certs/*
!certs/generate-certs.sh

# temporary conf files
*.cnf

# Elasticsearch data
data/

# Logs
logs/
*.log

# Auth service
.env
database/*.db
node_modules
pnpm-lock.yaml
*.db
*.db-*
